# On each new commit to master, create/update a PR with release
# automatically bumps version and creates changelog as per conventional commits
name: Release
on:
  push:
    branches:
      - master
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GHA_PAT_BASIC }}
          release-type: node
      - name: Trigger assets builds on release
        if: ${{ steps.release.outputs.release_created }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GHA_PAT_BASIC }}
          event-type: assets-build
          client-payload: '{"version": "${{ steps.release.outputs.tag_name }}"}'